<%-include("../header")%>
<h3>수정 페이지</h3>
<form action="modify" method="post">
    <input type="text" value="<%=member.ID%>" name="id"><br>
    <input type="text" value="<%=member.PWD%>" name="pwd"><br>
    <input type="text" value="<%=member.NAME%>" name="name"><br>
    <input type="text" value="<%=member.ADDR%>" name="addr"><br>
    <input type="submit" value="modify">
</form>