<%- include ("../default/header") %>
<% console.log(member) %>
<h3>- 개인정보 - </h3>
id : <%= member.ID %><br>
pwd : <%= member.PWD %><br>
name : <%= member.NAME %><br>
addr : <%= member.ADDR %><br>
<% if( username === member.ID ) {%>
    <a href="/member/modify/<%= member.ID %>">수정</a> 
    <a href="/member/delete/<%= member.ID %>">삭제</a>
<% } %>
<a href="/member/list">목록으로 이동</a>
