<%-include("../header")%>
<h3>상세정보</h3>
id : <%=member.ID%><br>
pwd : <%=member.PWD%><br>
name : <%=member.NAME%><br>
addr : <%=member.ADDR%><hr>

<a href="/member/list">목록이동</a>
<a href="/member/modify_form?id=<%= member.ID%>">수정</a>
<a href="/member/delete/<%=member.ID%>">삭제</a>