<ul>
    <li>상품목록</li>
    <% list.forEach(item => { %> 
        <li>
            <a href="/cookie/save1?id=<%=item.goods_id%>">
                <%=item.title%></a> : <%=item.price%>
            <br>
            <a href="/cookie/save2/<%=item.goods_id%>">
                <%=item.title%></a> : <%=item.price%>            
        </li>
    <%}) %>
</ul>
<a href="/cookie/view_list">선택 상품</a>